# Python/Backend environment
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
.idea/
.vscode/
*.log
*.db
*.sqlite

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules / Build files
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
